*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.dashboard-container{
display:flex;
min-height:100vh;
}

nav{
width:220px;
background:#1f1f1f;
color:white;
display:flex;
flex-direction:column;
padding:20px;
}

nav ul{
list-style:none;
margin-top:20px;
}

nav ul li{
margin:10px 0;
}

nav ul li a{
color:white;
text-decoration:none;
}

.perfil{
margin-top:auto;
padding-top:20px;
border-top:1px solid #444;
}

main{
flex:1;
padding:30px;
background:#f4f4f4;
}

.container-cards{
display:flex;
gap:20px;
}

article{
background:white;
padding:20px;
border-radius:8px;
width:200px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.btn{
margin-top:15px;
background:#007BFF;
color:white;
padding:8px;
text-decoration:none;
border-radius:4px;
text-align:center;
}

footer{
background:#1f1f1f;
color:white;
text-align:center;
padding:15px;
}